<div class="partial-section" ng-controller="UserController">
    <div class="partial-section-title">
        <h3>
            User List <span class="description">manage application users</span>
        </h3>
    </div>
    <div class="grid-tool-bar">
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group">
                    <button id="sample_editable_1_new" class="btn sbold green" ng-click="openNewWindow()"> Add New
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="btn-group pull-right">
                    <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Tools
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-print"></i> Print </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>