<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading"> </div>
        <div class="panel-body"> </div>
        <div class="panel-footer">
            <ul role="tablist" class="nav nav-pills">
                <li role="presentation" class="active"><a href="javascript:void(0)" class="glyphicon glyphicon-heart"><span class="badge">42</span></a></li>
                <li role="presentation"><a href="javascript:void(0)" class="glyphicon glyphicon-eye-open"></a></li>
                <li role="presentation"><a href="javascript:void(0)" class="glyphicon glyphicon-remove"></a></li>
            </ul>
        </div>
    </div>
</div>