<div class="container-fluid">
    <div class="navbar-header navbar-left">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" title="Página Inicial">
            <strong>Templating CMS</strong>
        </a>
    </div>
    <div class="navbar-right">
        <nav class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a href="/" title="Home"><span>Home</span></a></li>
                <li>
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#users">List</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

