#dialog-profile.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-sm(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') x
                h4.modal-title Facebook Profile
            .modal-body
                #profile-information
                    a#avatar.avatar(target='_blank')
                        img(alt='Profile')
                    h2
                    p
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
