.modal.fade#dialog-sign-in(tabindex='-1', role='dialog')
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') x
                h4.modal-title.text-center Enter With Facebook
            .modal-body
