a, ul, li, div, p, span, body, dl, dt, dd, button, ol, h1, h2, h3, h4, h5, img {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none outside none;
    white-space: normal;
    font-style: normal;
}

a, a:visited, a:active {
    text-decoration: none;
}

img {
    vertical-align: baseline;
}

body {
    color: #111;
    text-shadow: none;
}

.no-border-radius{
    border-radius: 0;
}